.section {
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.title {
  font-size: 2vw;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
