.section {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2.2vw;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.request {
  margin: 1rem 1rem;
  color: #003b7a;
  font-size: 1.25rem;
  border: 0.1vh solid #003b7a;
  border-radius: 10px;
  padding: 2vh;
  background-color: #f5faff;
}

.request p {
  font-size: 1rem;
  margin: 1vh;
}

.approved {
  color: #007000;
  font-weight: bold;
}

.rejected {
  color: #930303;
  font-weight: bold;
}

.error {
  text-align: center;
  font-weight: bold;
  background-color: rgba(226, 143, 143, 0.562);
  max-width: fit-content;
  padding: 1vh;
  border-radius: 5px;
}

.text {
  font-size: 1.2vw;
}
