.request {
  margin: 1rem 1rem;
  color: #003b7a;
  font-size: 1.25rem;
  border: 0.1vh solid #003b7a;
  border-radius: 10px;
  padding: 2vh;
}

.request p {
  font-size: 1rem;
  margin: 1vh;
}

.request button {
  cursor: pointer;
  font: inherit;
  font-size: 1rem;
  color: white;
  border-radius: 4px;
  padding: 0.1rem 2rem;
  margin: 0.2rem;
}

.approve {
  font-weight: bold;
  background-color: #5ccc89;
  border: 1px solid #5ccc89;
}

.reject {
  font-weight: bold;
  background-color: #cc5c5c;
  border: 1px solid #cc5c5c;
}

.request .approve:hover {
  background-color: #30bd68;
  border-color: #30bd68;
}

.request .reject:hover {
  background-color: #b13636;
  border-color: #b13636;
}
