.form {
  text-align: center;
  margin: 2vh;
}

.form input {
  margin: 0.5vw;
  padding: 0.5vw;
}

.form button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #003b7a;
  border: 1px solid #003b7a;
  border-radius: 4px;
  padding: 0.4rem 2.5rem;
  margin: 0.5rem;
}

.form button:hover {
  background-color: #0158b5;
  border-color: #0158b5;
}

.error {
  text-align: center;
  font-weight: bold;
  background-color: rgba(226, 143, 143, 0.562);
  max-width: fit-content;
  padding: 1vh;
  border-radius: 5px;
}
