.section {
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.title {
  font-size: 2vw;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.request {
  margin: 1rem 1rem;
  color: #003b7a;
  font-size: 1.25rem;
  border: 0.1vh solid #003b7a;
  border-radius: 10px;
  padding: 2vh;
  cursor: pointer;
  background-color: #f5faff;
}

.request p {
  font-size: 1rem;
  margin: 1vh;
}
